svg.svg-inline--fa.fa-times-circle.fa-w-16 {
    background: white;
    color: red;
    border-radius: 10px;
    margin: 5px;
}
svg.svg-inline--fa.fa-minus-circle.fa-w-16.minus-icon {
    background-color: white;
    color: orange;
    border-radius: 10px;
    margin: 5px;
}
.participation-table
{
    width: 100%;
    padding: 0px 5px;
    border: 1px solid green;
    border-radius: 6px;
}
.not-participated-cotent {
    border: 1px solid green;
    border-radius: 6px;
    padding: 10px;
}
.not-participated-cotent p{
   margin: 0;
}
p.boder-bt{
    border-bottom: 1px solid;
    border-color: #b3b5b3;
}
.participation-table p{
    margin: 0;
    padding: 5px;
}
.participation-box{
    width: 31%;
    float: left;
}
.not-participated-box{
    width: 30%;
    float: left;
}
.unregistered-box{
    width: 31%;
    float: left;
}
.two-box{
    width: 47%;
    float: left;
}
.row.blueLine.rowstyle {
    background-color: #0039a6;
    padding: 20px;
    border-radius: 6px 6px 0px 0px;
    color: white;
}
.gray-footer-box{
    background-color: lightgrey;
    padding: 20px;
    border-radius: 0 0 6px 6px;
}
@media screen and (max-width: 500px) {
    .participation-box{
        width: auto;
        float: none;
    }
    .not-participated-box{
        width: auto;
    float: none;
    }
    .unregistered-box{
        width: auto;
        float: none;
    }
    .two-box{
        width: none;
        float: none;
    }
}