<app-action-header></app-action-header>

<div class="box">
  <div class="box-header">
  <span>EVENT & BENIFICIARY DETAILS </span>
  <div style="float: right">
    <div style="float: left;margin: 0 5px;"><i class="fas fa-expand-arrows-alt"></i></div>
    <div style="float: left;margin: 0 5px;"><i class="fas fa-redo-alt"></i></div>
    <i class="fa fa-minus-circle minus-icon" aria-hidden="true"></i>
    <i class="fa fa-times-circle close-icon" aria-hidden="true"></i>
  </div>
  </div>
  <div class="box-content">
    <div style="width: 100;">
    <div class="" style="width: 50%;height: 60px;background: #0039a6;color: white;">
      <!-- <div class="box-header"> -->
        <div style="float: left;padding: 20px;width: 50%;"><p>ID :E0000000000 </p></div>
        <div style="float: right;padding: 20px;width: 50%;"><p style="float: right;">Date : Dec 14, 2019 </p></div>
        <!-- </div> -->
    </div>
    <div class="" style="width: 50%;height: 60px;background: #0039a6;color: white;">
      <!-- <div class="box-header"> -->
        <div style="float: left;padding: 20px;width: 50%;"><p>Location :E0000000000 </p></div>
        <div style="float: right;padding: 20px;width: 50%;"><p  style="float: right;">Councli : Dec 14, 2019</p> </div>
        <!-- </div> -->
    </div>
  </div>
  </div>
  </div>
  <table class="box-group"  style="width: 100%;">
    <tr>
  <div class="box participation-box"> 
      <div class="box-header">
          <span>PARTICIPATED</span>
          </div>
          <div class="box-content">
            <div class="participation-table">
              <p class="boder-bt">Rating :3</p>
              <p class="boder-bt">Likes : Swimming</p>
              <p>Dislikes : travel</p>
            </div>
          </div>
  </div>
  <div class="box not-participated-box">
      <div class="box-header">
          <span>NOT PARTICIPATED</span>
          </div>
          <div class="box-content">
            <div class="not-participated-cotent">
              <p>Unexpected Official work</p>
            </div>  
          </div>
  </div>
  <div class="box unregistered-box">
      <div class="box-header">
          <span>UNREGISTERED</span>
          </div>
          <div class="box-content">
              <div class="not-participated-cotent">
                  <p>Did not received furthur information about the event</p>
                </div>
          </div>
  </div>
</tr>
  </table>
  <div style="width: 100%;">
  <div class="box two-box">
    <div class="box-header">
    <span>STATISTCS </span>
    </div>
    <div class="box-content">
      <table class="blue-table-header" border="1px solid" style="width: 100%; ">
        <tr>
        <th>AVERAGE RATING</th>
        <th>VOLUNTEERS</th>
        <th>VOLUNTEERING HOURS</th>
        <th>OVERALL HOURS</th>
        <th>TRAVEL HOURS</th>
        <th>LIVES IMPACTED</th>
        </tr>
        <tr>
          <td>123</td>
          <td>123</td>
          <td>123</td>
          <td>213</td>
          <td>123</td>
          <td>12323</td>
        </tr>
      </table>
    </div>
    </div>
    <div class="box two-box">
        <div class="box-header">
        <span>POC DETAILS </span>
        </div>
        <div class="box-content">
          <table class="blue-table-header" border="1px solid" style="width: 100%;">
            <th>#</th>
            <th>EMPLOYEE ID</th>
            <th>NAME</th>
            <th>CONTACT NUMBER</th>
            <tr>
              <td>123</td>
              <td>123</td>
              <td>123</td>
              <td>213</td>
            </tr>
          </table>
        </div>
        </div>
      </div>