<div class="actionBox">
    <div class="box-header">ACTION</div>
    <div class="box-content row actContent">
        <div class="col-md-6 col-xs-12 ABcol ABcolLeft">
            <div class="row">
                <div class="col-md-2 text-left"><img src="../../../assets/img/action_img1.JPG"></div>
                <div class="col-md-10">
                    <div class="row ActFont green">Email Report</div>
                    <div class="row">
                            <div class="col-md-3">Employee Id: </div>
                            <div class="col-md-4"><input type="text" class="txtMail txtbox width" placeholder="Enter Mail Id"></div>
                            <div class="col-md-1"></div>
                            <div class="col-md-4"><input type="button" class="btn btn-secondary btnAction" value="Send Email"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 ABcol ABcolRight">
            <div class="row">
                <div class="col-md-10">
                    <div class="row orange"><h6 class="text-right ActFont   width">Future Implementations!</h6></div>
                    <div class="row orange"><h6 class="text-right ActFontSm width">This place holder can be used for adding any other action in future.</h6></div>
                </div>
                <div class="col-md-2 text-right"><img src="../../../assets/img/action_img2.JPG"></div>
            </div>
        </div>
    </div>
</div>
